@{
	Layout = "LectorLayout";
	ViewData["Title"] = "Gradebook Page";
}

<div class="container emp-profile mrg-t-0">
	<hr />
	<center><h1>Gradebook</h1></center>
	<hr />
	<br>
	<br>

	<div class="row mrg-side-4">
		<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 sel-div-sm">
			<select class="custom-select" id="LectorSubjectSelect" name="Subject">
				<option value="">Програмна інженерія</option>
				<option value="">Програмування</option>
			</select>
		</div>
		<div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 sel-div-sm">
			<select class="custom-select" id="LectorGroupSelect" name="Group">
				<option value="">ПМІ-31</option>
				<option value="">ПМІ-32</option>
				<option value="">ПМІ-33</option>
			</select>
		</div>
		<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 sh-div-sm">
			<button class="btn btn-info btn-show pd-l-r-7 gr-btn-show mrg-t-5" id="st-show-grades">SHOW</button>
		</div>
	</div>

	<br />
	<br />
	<br />
	<div class="row">
		<div class="col-lg-11 col-md-11 ml-auto mr-auto">
			<button class="btn btn-success btn-show pd-l-r-1 gr-btn-show mrg-t-5" id="lect-show-grades">ADD COLUMN</button>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-lg-11 col-md-11 ml-auto mr-auto">
			<div class="table-responsive">
                <table class="table" id="st-grade-table">
                    <thead>
                        <tr class="tr-bg">
                            <th class="text-center">Notes</th>
                            <th></th>
                            <th contenteditable="true"></th>
                            <th></th>
                        </tr>
                       
                        <tr class="tr-bg">
                            <th class="text-center">#</th>
                            <th>Full name</th>
                            <th contenteditable="true">Date</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td contenteditable="true">-------</td>
                            <td contenteditable="true">-------</td>
                            <td contenteditable="true">-------</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>