@{
	Layout = "LectorLayout";
	ViewData["Title"] = "Subjects Page";
}


<div class="container emp-profile mrg-t-0">
	<hr />
	<center><h1>Subjects</h1></center>
	<hr />
	<br>
	<br>
	<div class="row">
		<div class="col-lg-11 col-md-11 ml-auto mr-auto">
			<div class="table-responsive">
				<table class="table" id="lector-subjects-table">
					<thead>
						<tr class="tr-bg">
							<th class="text-center">#</th>
							<th>Subject</th>
							<th>Group</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center">-</td>
							<td>---</td>
							<td>---</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
</div>
