@{
	Layout = "_Layout";
}


<div class="container-fluid">
	<div class="row min-vh-100 flex-column flex-md-row d-flex">
		<aside class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2 navbar-fixed-side w-70">

				<div class="collapse navbar-collapse ">

					<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between pd-b-500">
						<li class="nav-item">
							<a class="nav-link pl-0 text-nowrap" asp-action="Info" asp-controller="Admin"><h2 class="font-weight-bold">SST</h2></a>
						</li>
						<li class="nav-item">
							<a class="nav-link pl-0" asp-action="Info" asp-controller="Admin"><i class="fa fa-id-card-o fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Info</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link pl-0" asp-action="Students" asp-controller="Admin"><i class="fa fa-graduation-cap fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Students</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link pl-0" asp-action="Groups" asp-controller="Admin"><i class="fa fa-users fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Groups</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link pl-0" asp-action="Lectors" asp-controller="Admin"><i class="fa fa-user-o fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Lecturers</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link pl-0" asp-action="Subjects" asp-controller="Admin"><i class="fa fa-book fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Subjects</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link pl-0" asp-action="Requests" asp-controller="Admin"><i class="fa fa-list fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Requests</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link pl-0" asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Log Out</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 py-3 ">
			@RenderBody()
		</main>

	</div>

</div>