@{
	ViewData["Title"] = "Info Page";
}

	<div class="container emp-profile">
		<hr />
		<div class="row">
			<div class="col-md-4">
				<div class="profile-img">
					<img src="https://i.dlpng.com/static/png/4054170-person-outline-icon-png-person-outline-512_512_preview.webp" alt="" />
					<div class="file btn btn-lg btn-primary">
						Change Photo
						<input type="file" name="file" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-4">
						<label>Username</label>
					</div>
					<div class="col-md-6">
						<p>Admin</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label>E-mail</label>
					</div>
					<div class="col-md-6">
						<p>admin@email.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-4">
						<label>Password</label>
					</div>
					<div class="col-md-6">
						<p>admin</p>
					</div>
				</div>
			</div>
		</div>
		
		<hr />
	</div>

