@{
	ViewData["Title"] = "Requests Page";
}

<div class="container emp-profile">
	<br>
	<hr />
	<center><h1>Requests</h1></center>
	<hr />
	<br>
	<br>

	<div class="row">
		<div class="col-lg-11 col-md-11 ml-auto mr-auto">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr class="tr-bg">
							<th class="text-center">#</th>
							<th>Name</th>
							<th>E-mail</th>
							<th>Type</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center">1</td>
							<td>Andrew Mike</td>
							<td>an.mike@gmail</td>
							<td>student</td>
							<td class="td-actions text-center">
								<input class="btn btn-success btn-just-icon btn-sm" type="button" value="ACCEPT" />
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REJECT" />
							</td>
						</tr>
						<tr>

							<td class="text-center">2</td>
							<td>John Doe</td>
							<td>doe_john@gmail.com</td>
							<td>student</td>
							<td class="td-actions text-center">
								<input class="btn btn-success btn-just-icon btn-sm" type="button" value="ACCEPT" />
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REJECT" />
							</td>
						</tr>
						<tr>
							<td class="text-center">3</td>
							<td>Alex Mike</td>
							<td>alex.mike.teach@gmail.com</td>
							<td>lector</td>
							<td class="td-actions text-center">
								<input class="btn btn-success btn-just-icon btn-sm" type="button" value="ACCEPT" />
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REJECT" />
							</td>
						</tr>
						<tr>
							<td class="text-center">4</td>
							<td>Mike Monday</td>
							<td>stud_mike@gmail.com</td>
							<td>student</td>
							<td class="td-actions text-center">
								<input class="btn btn-success btn-just-icon btn-sm" type="button" value="ACCEPT" />
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REJECT" />
							</td>
						</tr>
						<tr>
							<td class="text-center">5</td>
							<td>Paul Dickens</td>
							<td>paul_dickens@gmail.com</td>
							<td>lector</td>
							<td class="td-actions text-center">
								<input class="btn btn-success btn-just-icon btn-sm" type="button" value="ACCEPT" />
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REJECT" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>