@{
	ViewData["Title"] = "Students Page";
}

<div class="container emp-profile">
	<br>
	<center><h1>Students</h1></center>
	<br>

	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="inputCity">FirstName</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group col-md-6">
			<label for="inputCity">LastName</label>
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="inputCity">College/University</label>
			<input type="text" class="form-control" placeholder="College/University">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="inputState">Branch</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group col-md-6">
			<label for="inputCity">City</label>
			<input type="text" class="form-control">
		</div>
	</div>
	<input class="btn btn-success" type="button"  value="ADD NEW"/>
	<br>
	<br>
	<div class="row mrgn-20">
		<h4>Simple Table</h4>
	</div>
	<div class="row">
		<div class="col-lg-11 col-md-11 ml-auto mr-auto">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th>First name</th>
							<th>Last name</th>
							<th>E-mail</th>
							<th>Password</th>
							<th>Type</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center">1</td>
							<td>Andrew</td>
							<td>Mike</td>
							<td>an.mike@gmail</td>
							<td>mike2020</td>
							<td>student</td>
							<td class="td-actions">
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REMOVE" />
							</td>
						</tr>
						<tr>

							<td class="text-center">2</td>
							<td>John</td>
							<td>Doe</td>
							<td>doe_john@gmail.com</td>
							<td>johnydoe2017</td>
							<td>student</td>
							<td class="td-actions">
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REMOVE" />
							</td>
						</tr>
						<tr>
							<td class="text-center">3</td>
							<td>Alex</td>
							<td>Mike</td>
							<td>alex.mike.teach@gmail.com</td>
							<td>qwerty55</td>
							<td>lector</td>
							<td class="td-actions">
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REMOVE" />
							</td>
						</tr>
						<tr>
							<td class="text-center">4</td>
							<td>Mike</td>
							<td>Monday</td>
							<td>stud_mike@gmail.com</td>
							<td>hello123</td>
							<td>student</td>
							<td class="td-actions">
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REMOVE" />
							</td>
						</tr>
						<tr>
							<td class="text-center">5</td>
							<td>Paul</td>
							<td>Dickens</td>
							<td>paul_dickens@gmail.com</td>
							<td>lect_paul17</td>
							<td >lector</td>
							<td class="td-actions">
								<input class="btn btn-danger btn-just-icon btn-sm" type="button" value="REMOVE" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>