
/*------------Main------------*/

html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*------------Account------------*/

/*Login*/

.btn {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 24px 6px rgba(255,255,255,0.47);
}

    .btn:hover, .btn:focus {
        color: white;
        box-shadow: 0px 0px 24px 6px rgba(255,255,255,0.47);
        outline: none;
        padding-right: 4rem;
        padding-left: 4rem;
        transition: 0.4s;
    }

.form-bg {
    border: 0px;
}

.form-control {
    height: 30px;
}

.mrg-b-0 {
    margin-bottom: 0px;
}

.emp-profile.mrg-b-0 {
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .navbar-fixed-side {
        position: fixed;
    }
}

.pd-b-500 {
    padding-bottom: 500%;
}

@media (max-width: 767px) {
    .pd-b-500 {
        padding-bottom: 0;
    }
}

.mrg-t-15 {
    margin-top: 15px;
}

.l-0 {
   left: 0px;
}

.heading-style{
    text-align: center;
    margin-top: 3%;
}

.label-style {
    color: #221c1c;
    font-size: 110%;
}

.mrgn-20 {
    margin-left: 20%;
    margin-right: 20%;
}

.submit {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: 1.1rem;
    display: block;
    max-width: 300px;
    margin: auto;
    background-color: gray;
    color: white;
}

.link-style {
    color: blue;
    font-weight: bold;
}

    .link-style:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
    }

.registr-link {
    color: black;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-size: 115%;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 7px 0px;
    text-align: center;
}

/*Signup*/

.form-error{
    margin-top: 20px;
    color: red;
}

.mrgn-b-5 {
    margin-bottom: 5px;
}

.mrgn-b-20 {
    margin-bottom: 20px;
}

.mrgn-18 {
    margin-left: 18%;
    margin-right: 18%;
}

.pd-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.selection-mrgn {
    margin-left: 20%;
    margin-right: 20%;
}

[type="radio"] {
    position: absolute;
    opacity: 0;
    margin: 0 0 0 0;
}

    [type="radio"] + label {
        position: relative;
        padding: 0 0 7px 35px;
        cursor: pointer;
    }

        [type="radio"] + label:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 22px;
            height: 22px;
            border: 1px solid #CDD1DA;
            border-radius: 50%;
            background: #FFF;
        }

        [type="radio"] + label:after {
            content: '';
            position: absolute;
            top: 4.5px;
            left: 4.5px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #3F9FBF;
            opacity: 0;
            transition: .2s;
        }

    [type="radio"]:checked + label:after {
        opacity: 1;
    }

    [type="radio"]:focus + label:before {
        box-shadow: 0 0 7px #3F9FBF;
    }

.select-wdth {
    width: 100%;
}

.select-col {
    margin-right: 3%;
}

@media screen and (max-width: 575px) {
    .select-col {
        margin-right: 0%;
    }
}

/*------------Error------------*/

/*AccessDenied*/

#access-denied .access-denied {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.access-denied {
    max-width: 560px;
    width: 100%;
    padding-left: 160px;
    line-height: 1.1;
}

    .access-denied .ac-d-403 {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 140px;
        height: 140px;
        background-image: url('../img/emoji.png');
        background-size: cover;
    }

        .access-denied .ac-d-403:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(2.4);
            -ms-transform: scale(2.4);
            transform: scale(2.4);
            border-radius: 50%;
            background-color: #f2f5f8;
            z-index: -1;
        }

    .access-denied h1 {
        font-size: 65px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 10px;
        color: #151723;
        text-transform: uppercase;
    }

    .access-denied h2 {
        font-size: 21px;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
        color: #151723;
    }

    .access-denied p {
        color: #999fa5;
        font-weight: 400;
    }

    .access-denied a {
        display: inline-block;
        font-weight: 700;
        border-radius: 40px;
        text-decoration: none;
        color: #388dbc;
    }

@media only screen and (max-width: 767px) {
    .access-denied .ac-d-403 {
        width: 110px;
        height: 110px;
    }

    .access-denied {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 110px;
    }
}

.btn.btn-info.access-den {
    color: white;
    box-shadow: 0px 0px 24px 6px rgba(255,255,255,0.47);
    outline: none;
    padding-right: 4rem;
    padding-left: 4rem;
    transition: 0.4s;
}

/*------------Admin------------*/

/*Admin info*/

.emp-profile.mrg-t-0 {
    margin-top: 0px;
}

.mrg-0 {
    margin-left: 0;
    margin-right: 0;
}

.mrg-t-40 {
    margin-top: 40px;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

    .profile-img img {
        width: 100px;
        height: 100px;
    }

.btn.btn-sm {
    border-radius: 3px;
}

.btn.btn-just-icon.btn-sm {
    height: 25px;
    min-width: 30px;
    width: 60px;
}

.btn.btn-just-icon {
    font-size: 12px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.btn.btn-danger {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    box-shadow: 0 2px 2px 0 rgba(244,67,54,.14), 0 3px 1px -2px rgba(244,67,54,.2), 0 1px 5px 0 rgba(244,67,54,.12);
}

    .btn.btn-danger:hover {
        box-shadow: 0 14px 26px -12px rgba(244,67,54,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(244,67,54,.2);
        background-color: #f33527;
    }

.em-btn {
    float: right;
}

@media screen and (max-width: 575px) {
    .em-btn {
        float: left;
        margin-top: 15px;
    }
}

@media screen and (max-width: 575px) {
    .btn.btn-info.btn-show.mrg-t-10 {
        margin-top: 10px;
    }
}

.change-btn-w {
    width: 190px;
}

@media screen and (max-width: 375px) {
    .change-btn-w {
        width: 50%;
    }
}

@media screen and (max-width: 375px) {
    .btn.btn-info.btn-show.f-size {
        font-size: 12px;
    }
}

/*Students*/

.tr-bg {
    background-color: #e9ecef;
}

/*Requests*/

.btn.btn-show.pd-l-r-1 {
    padding-right: 1%;
    padding-left: 1%;
}

.btn.btn-show {
    font-size: 16px;
    min-width: 41px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

/*------------Student------------*/

/*Subjects*/

.w-10 {
    width: 10%;
}

.w-40 {
    width: 40%;
}

/*Info*/

@media screen and (max-width: 991px) {
    .mrg-t-resize {
        margin-top: 40px;
    }
}

.bg-w {
    background-color: white;
    text-align:center;
}

.p-st {
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
    .p-st {
        font-size: 0.9rem;
    }
}

.lab-st {
    margin-bottom: 0px;
}

@media screen and (max-width: 575px) {
    .lab-st {
        margin-bottom: .5rem;
    }
}

@media screen and (min-width: 1200px) {
    .hr-st {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1199px) {
    .hr-st {
        margin-top: 40px;
    }
}

/*Grades*/

.btn.btn-show.pd-l-r-7 {
    padding-right: 7%;
    padding-left: 7%;
}

.mrg-side-4 {
    margin-left: 4%;
    margin-right: 4%;
}

@media screen and (max-width: 767px) {
    .mrg-side-4 {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.gr-btn-show {
    float: right;
}

@media screen and (max-width: 767px) {
    .gr-btn-show {
        float: left;
    }
}

@media screen and (max-width: 767px) {
    .sh-div-sm {
        margin-top: 20px;
    }

    .sel-div-sm {
        margin-top: 10px;
    }
}

@media screen and (min-width: 767px) {
    .gr-btn-show.mrg-t-5 {
        margin-top: 5px;
    }
}

.mrg-t-5 {
    margin-top: 5px;
}

/*------------Lector------------*/

/*Gradebook*/

.btn.btn-success.pd-l-r-1 {
    padding-right: 1%;
    padding-left: 1%;
}

.hidden-select {
    display: none;
}

.active-select {
    display: initial;
}

/*Info*/

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
