@{
    ViewBag.Title = "Error 404";
}


<div class="container py-5">
    <div id="access-denied">
		<div class="access-denied">
			<div class="ac-d-403"></div>
			<h1>404</h1>
            <h2>Oops! Page Not Found...</h2>
            <p>
                Sorry, but the page you were looking for could not be found.
            </p>
		</div>
	</div>
</div>