@model SST.WebUI.ViewModels.SignupModel

@{
	ViewData["Title"] = "Signup Page";
}


<div class="container emp-profile mrg-t-0 mrg-b-0" style="min-height: 400px;">
	<h3 class="heading-style">Sign Up form</h3>
	<br />
	<div class="mrgn-20">
		<p class="registr-link">Sign Up as a:</p>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
			<label class="form-check-label" for="inlineRadio1">Student</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
			<label class="form-check-label" for="inlineRadio2">Lecturer</label>
		</div>
	</div>

    <form asp-action="SignupAsStudent" asp-controller="Account" asp-anti-forgery="true" method="post" id="signupForm">
        <div asp-validation-summary="All" class="mrgn-18 form-error"></div>
        <div class="form-group mrgn-20">
            <label class="label-style">Input Email</label>
            <input type="email" name="Email" class="form-control" />

        </div>
        <div class="form-group mrgn-20">
            <label class="label-style">Input Password</label>
            <input type="password" name="Password" class="form-control" />

        </div>
        <div class="form-group mrgn-20">
            <label class="label-style">Confirm Password</label>
            <input type="password" name="ConfirmPassword" class="form-control" />

        </div>
        <div class="row mrgn-20">
            <div class="col-sm pd-0" id="facultyDiv">
                <p class="label-style mrgn-b-5">Select Faculty</p>
                <select id="FacultySelectSignUp" name="FacultySignUp" class="select-wdth custom-select">
                    <option>---</option>
                    @foreach (var faculty in Model.FacultyList.Faculties)
                    {
                        <option value="@faculty">@faculty</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row mrgn-20">
            <div class="col-sm pd-0 select-col" id="groupDiv">
                <p class="label-style mrgn-b-5">Select Group</p>
                <select id="GroupSelect" name="Group" class="select-wdth custom-select">
                </select>
            </div>
            <div class="col-sm pd-0">
                <p class="label-style mrgn-b-5" id="nameSelectLabel">Select Student</p>
                <select id="fullNameSelect" name="StudentId" class="select-wdth custom-select">
                </select>
            </div>
        </div>
        <br />
        <input type="submit" value="SIGN UP" class="btn submit" />
        <br />
    </form>

</div>