@model SST.WebUI.ViewModels.SignupModel
@{
    ViewData["Title"] = "Singup Page";
}

    <form asp-action="Signup" asp-controller="Account" asp-anti-forgery="true" method="post">
        <input type="email" name="Email" /><br />

        <input type="text" name="Password" /><br />

        <input type="text" name="ConfirmPassword" /><br />

        <select id="GroupSelect" name="Group">
            @foreach (var group in Model.GroupsList.Groups)
            {
                <option value="@group">@group</option>
            }
        </select>

        <select id="fullNameSelect" name="FullName">
        </select>

        <input type="submit" value="SIGNUP" />
    </form>

