@{
	Layout = "StudentLayout";
	ViewData["Title"] = "Info Page";
}

<div class="container emp-profile mrg-t-0">
	<hr />
	<center><h1>Info</h1></center>
	<hr />
	<br>
	<br>

	<div class="tr-bg">
		<br />
		<hr />
		<div class="row mrg-0">

			<div class="col-md-4">
				<div class="profile-img">
					<img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/user.png" alt="" />
				</div>
			</div>
			<div class="col-md-4 mrg-t-40">
				<div class="row mrg-0">
					<div class="col-md-4">
						<label>Full name</label>
					</div>
					<div class="col-md-8">
						<p>Ivan Zyma</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mrg-t-40">
				<div class="row mrg-0">
					<div class="col-md-4">
						<label>E-mail</label>
					</div>
					<div class="col-md-">
						<p>student@email.com</p>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="row mrg-0">

			<div class="col-md-4">
				<div class="row mrg-0">
					<div class="col-md-4">
						<label>Gender</label>
					</div>
					<div class="col-md-8">
						<p>Male</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mrg-t-40">
				<div class="row mrg-0">
					<div class="col-md-4">
						<label>Specialty</label>
					</div>
					<div class="col-md-8">
						<p>Applied mathematics and informatics</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 mrg-t-40">
				<div class="row mrg-0">
					<div class="col-md-4">
						<label>Group</label>
					</div>
					<div class="col-md-8">
						<p>PMI-33</p>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<br />
	</div>
</div>

