@{
	Layout = "_Layout";
}


	<div class="container-fluid">
		<div class="row min-vh-100 flex-column flex-md-row d-flex">
			<aside class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 p-0 bg-dark flex-shrink-1">
				<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2 navbar-fixed-side">

					<div class="collapse navbar-collapse ">

						<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between pd-b-500">
							<li class="nav-item">
								<a class="nav-link pl-0 text-nowrap" asp-action="Info" asp-controller="Student"><h2 class="font-weight-bold">SST</h2></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pl-0" asp-action="Info" asp-controller="Student"><i class="fa fa-id-card-o fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Info</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pl-0" asp-action="Subjects" asp-controller="Student"><i class="fa fa-book fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Subjects</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pl-0" asp-action="Lectors" asp-controller="Student"><i class="fa fa-users fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Lecturers</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pl-0" asp-action="Grades" asp-controller="Student"><i class="fa fa-bar-chart fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Grades</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pl-0" asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out fa-fw mrg-t-15"></i> <span class="d-none d-md-inline"> Log Out</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</aside>
			<main class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 py-3 ">
				@RenderBody()
			</main>

		</div>

	</div>

<script src="~/lib/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder()
		.withUrl("/notify")
		.configureLogging(logging =>{
			logging.addConsole();
		})
		.build();

    connection.on("ReceiveMessage", function (message) {
        toastr.info(message, 'Info', { timeOut: 15000 });
    });

    connection.start();
</script>